[Unit]
Description=collect coverage statistics in a (remote) MongoDb
Requires=system.network

[Service]
ExecStart=/usr/bin/moncov enable
ExecStop=/usr/bin/moncov disable
TimeoutSec=1
RemainAfterExit=true
Type=oneshot
