[Unit]
Description=collect coverage statistics in a (remote) MongoDb
Requires=system.network

[Service]
ExecStart=/bin/sh -c 'echo "import moncov; c = moncov.moncov.Collector(); c.start()" > /lib/python2.7/site-packages/z_moncov.pth'
ExecStop=/bin/rm -f /lib/python2.7/site-packages/z_moncov.pth
TimeoutSec=1
RemainAfterExit=true
Type=oneshot
